.eslintcache
.pnpm-debug.log
**/node_modules/
/node_modules/
client/.enum_manifest.json
client/dist/
client/source_strings.json
client/src/translations/
coverage/
dist/
server/dist/
server/src/prisma/prisma-client/
tsconfig.tsbuildinfo
vite.config.ts.timestamp-*
